<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>K Skelton Forecast.io Rails App</title>
  </head>
  <body>
    <h2>Forecast.io API calls for a week's worth of weather</h2>
  </body>
</html>
